/* Color Theme Swatches in Hex */
$paleta-pastel-1: #ebc7d5;
$paleta-pastel-2: #f8e1db;
$paleta-pastel-3: #d4eef4;
$paleta-pastel-4: #e9efca;
$paleta-pastel-5: #fdf1fa;
$paleta-pastel-6: #555555;
$paleta-pastel-7: #213456;
