@import "variables";

.small:hover {
  padding: 2rem;
  background-color: $paleta-pastel-6;
  font-family: cursive;
  transition: all 2s ease-in-out;
}

.large:hover {
    padding: 5rem;
    background-color: $paleta-pastel-7;
    font-family: cursive;
    transition: all 2s ease-in-out;
}
