@import "variables";

.small, .large{
  transition: all 2s ease;
}

.small:hover {
  padding: 2rem;
  background-color: $paleta-pastel-6;
  font-family: cursive;
}

.large:hover {
  padding: 5rem;
  background-color: $paleta-pastel-7;
  font-family: cursive;
}
